# Copyright 2018-2024 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that contributes the JProfiler Agent and configures it to connect to the service"
  homepage = "https://github.com/paketo-buildpacks/jprofiler"
  id = "paketo-buildpacks/jprofiler"
  keywords = ["jprofiler", "agent", "profiler", "java"]
  name = "Paketo Buildpack for JProfiler"
  sbom-formats = ["application/vnd.syft+json", "application/vnd.cyclonedx+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/jprofiler/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/main", "linux/amd64/bin/helper", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/main", "linux/arm64/bin/helper", "buildpack.toml"]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    description = "whether to enable JProfiler support"
    launch = true
    name = "BPL_JPROFILER_ENABLED"

  [[metadata.configurations]]
    default = "true"
    description = "whether the JVM will execute before JProfiler has attached"
    launch = true
    name = "BPL_JPROFILER_NOWAIT"

  [[metadata.configurations]]
    default = "8849"
    description = "the port JProfiler will listen on"
    launch = true
    name = "BPL_JPROFILER_PORT"

  [[metadata.configurations]]
    build = true
    description = "whether to contribute JProfiler support"
    name = "BP_JPROFILER_ENABLED"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:jprofiler:agent:15.0.4:*:*:*:*:*:*:*"]
    id = "jprofiler"
    name = "JProfiler Agent"
    purl = "pkg:generic/jprofiler-agent@15.0.4"
    sha256 = "2e28efbab41a46650a181daf16084cd7197331e66aa30de1b258d87af60b88bf"
    stacks = ["*"]
    uri = "https://download-gcdn.ej-technologies.com/jprofiler/jprofiler_linux_15_0_4.tar.gz"
    version = "15.0.4"

    [[metadata.dependencies.licenses]]
      uri = "https://www.ej-technologies.com/buy/jprofiler/licensing.html"

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
